{deps_dir, "deps"}.

{deps, [{cowboy,   "2.15.0"},
        {syn,      "2.1.2"},
        {rocksdb, "2.6.2"},
%        {rocksdb, ".*", {git, "https://github.com/emqx/erlang-rocksdb", {tag, "1.8.0-emqx-11"}}},
        {nitro,  ".*", {git, "https://github.com/synrc/nitro",     []}},
        {n2o,    ".*", {git, "https://github.com/synrc/n2o",       []}},
        {kvs,    ".*", {git, "https://github.com/zencrypted/kvs",  []}},
        {bpe,    ".*", {git, "https://github.com/zencrypted/bpe",  []}},
        {form,   ".*", {git, "https://github.com/synrc/form",      []}}
]}.

{overrides, [
    {add, rocksdb, [
        {pre_hooks, [
           {compile, "patch -N -p1 < ../../../../patches/rocksdb-snappy.patch || true"}
        ]}
   ]}
]}.

{erl_opts, [nowarn_unused_function,nowarn_duplicated_export]}.

{shell,[{config, "sys.config"},
        {apps, [bpe,kvs,fin]}]}.
