{deps_dir, "deps"}.

{deps, [
    %% TODO:
    %% FIN upstream uses Cowboy 2.15.0.
    %% Temporarily pinned to 2.12.0 due to dependency resolution
    %% issues with current rebar3/cowlib setup.
    %% Revisit after N2O/FIN baseline is stabilized.
    {cowboy, "2.12.0"},
    {syn, "2.1.2"},
    %% TODO:
    %% RocksDB is disabled for IAS bootstrap on Ubuntu 20.04.
    %% rocksdb 2.6.2 pulls RocksDB 10.x which requires C++20 / GCC >= 11.
    %% Re-enable RocksDB later by upgrading the build environment or pinning
    %% a compatible rocksdb version.
    %% {rocksdb, "2.6.2"},
    {nitro, ".*", {git, "https://github.com/synrc/nitro", []}},
    {n2o, ".*", {git, "https://github.com/synrc/n2o", []}},
    {kvs, ".*", {git, "https://github.com/zencrypted/kvs", []}},
    {bpe, ".*", {git, "https://github.com/zencrypted/bpe", []}},
    {form, ".*", {git, "https://github.com/synrc/form", []}}
]}.

{overrides, [
    {override, kvs, [
        {deps, []},
        {pre_hooks, [
            {compile, "perl -0pi -e 's/,rocksdb//g' src/kvs.app.src"}
        ]}
    ]}
]}.

{erl_opts, [nowarn_unused_function,nowarn_duplicated_export]}.

{shell,[{config, "sys.config"},
        {apps, [bpe,kvs,ias]}]}.
