[{form,[{registry,[bpe_row,bpe_create,bpe_pass,bpe_trace]}]},
 {bert,[{js,"priv/static"}]},
 {n2o, [{port,8041},
        {app,fin},
        {upload,'./priv/static/'},
        {trace,true},
        {routes,fin_route},
        {mq,n2o_syn},
        {formatter,n2o_bert},
        {protocols,[n2o_heart,nitro_n2o,n2o_ftp,bpe_n2o]},
        {session,n2o_session},
        {origin,<<"*">>},
        {pickler,n2o_secret},
        {event,pickle}]},
  {kvs,[{dba,kvs_mnesia},
        {dba_seq,kvs_mnesia},
        {dba_st,kvs_stream},
        {schema,[kvs,kvs_stream,fin_kvs,bpe_metainfo]}]}
].
